[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "binaryRL"]
	path = binaryRL
	url = https://github.com/yuki-961004/binaryrl
[submodule "multiRL"]
	path = multiRL
	url = https://github.com/yuki-961004/multirl
